.u-section-1 {
  min-height: 237px;
}

.u-section-1 .u-image-1 {
  height: 237px;
  margin-top: 0;
  margin-bottom: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 451px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 301px;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 26px auto 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0 10px;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
}